<h1>Edit album </h1>

<ul>
<% if flash[:errors] 
     flash[:errors].each do |error|%>
        <li> <%= error %> </li>
     <% end %>
<% end %>
     
</ul>


<form action="<%=album_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method", value="patch">
    <label for="bandName">Band</label>
    <select name="album[band_id]" id="bandName">
        <% Band.all.each do |band| %>
            <% selected = @album.band_id == band.id  %>
            <option <%=selected ? "selected" : "" %> value="<%=band.id %>">
                <%= band.name %> 
            </option>
        <% end %>
    </select>
    <br>
    
    <label >Recorded</label>
    <input type="radio" name="album[live]"  value =true checked >Live
    <input type="radio" name="album[live]"  value =false> Studio

    <br>
    <label for="title">Title </label>
    <input type="text" name="album[title]" id="title" value="<%=@album.title %>">
    <br>
    <label for="year">Year created</label>
    <input type="text" name="album[year]" id="year" value="<%=@album.year %>">

    <input type="submit" value="Update!">
</form>